.butterbar {
    padding: 5px 0;
}

.panel-heading a {
    margin: 0 0 0 8px;
}

blockquote {
    font-size: 15px;
}

blockquote:last-child {
    margin: 0;
}

.line {
    margin: 10px 0;
    border-bottom: 1px dotted #eee;
}

.table {
    margin: 0;
}

.table>tbody>tr>td {
    vertical-align: middle;
    border:none;
    padding: 3px 10px 3px 0;
}

.table>tbody>tr>td:nth-child(2), .table>tbody>tr>td:nth-child(3) {
    width: 65px;
}

.panel-heading {
    overflow: hidden;
}